body {
    background-color: #0055A5 ; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    color: #003B73;
}

#content_cell {
    width: 775px;
}

a {
    color: #1966AE;
    text-decoration: underline;
}

a:hover {
    color: #CC0000;
    text-decoration: underline;
}

img { border: none }

p.centered {
    text-align: center;
}

img.floating {
    float: right ;
    padding: 10px 10px 10px 10px ;
}

/* MAIN TABLE */

table.main {
    width: 975px ;
    background-color: #FFFFFF ; 
    /*    border: thin dotted rgb(250,0,255) ; */
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;

    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

td.main {
    /* border: thin dotted rgb(250,0,255) ; */
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    vertical-align: top;
}

/* TOP MENU */

div.topmenu {
/*    background-color: #1966AE;*/
    background-color: #6699C9;
    color: #003B73;
    width: 955px;
}

table.topmenu {
    margin: 0px 15px 0px 15px;
    border: 0;
    border-collapse: collapse;
}

td.topmenu {
    padding: 2px 2px 2px 2px;
}

a.topmenu {
    text-align: center;
    width: 100px;
    height: 18px;
    font-weight: bold;
    font-size: 14px;
    color: white;
    display: table-cell;
    text-decoration: none;
}

a.topmenu:hover {
     background-color: #E5EEF6;
     color: #CC0000;
     text-decoration: underline;
}

a.topmenu_active {
     background-color: #E5EEF6;
     color: #CC0000;
}

/* NEWS  */

table.news {
    width: 200px;
    vertical-align: top;
    border-collapse: collapse;
}

th.news {
    font-weight: bold;
    vertical-align: middle;
    padding:  0 0 0 10px  ;
    margin:  0 0 0 0px  ;
    height: 23px;
    color: #003B73;
    background-color: #E5EEF6;
}


td.news {
    border-bottom: 1px solid #99BBDB;
    padding: 7px 10px 7px 10px;
}

a.news {
    color:#003B73;
    text-decoration: none;
}

a.news:hover {
    color: #CC0000;
    text-decoration: underline;
}

/* MENU */

table.menu {
    width: 200px;
    vertical-align: top;
    border-collapse: collapse; 
    margin-top: 1px;
}

td.menu {
    border-top: 1px solid #99BBDB;
    border-bottom: 1px solid #99BBDB;
    padding: 0px 0px 0px 0px;
}

a.menu {
    color:#003B73;
    text-decoration: none;
    height: 30px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

a.level0 {
    padding-left: 10px;
    font-weight: bold;
}

a.level1 {
    padding-left: 20px;
}

a.level2 {
    padding-left: 40px;
    font-size: 80%;
}

a.menu_active {
    background-color: #E5EEF6;
    color: #CC0000;
}

a.menu:hover {
    color: #CC0000;
    text-decoration: underline;
    background-color: #E5EEF6;
}

