body {
/*   background-color: #0055A5 ;  */
    background-color: #666666 ; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    margin-top: 0;
}

h1, h2, h3, h4, h5 {
    color: #003B73;
}

#content_cell {
    width: 700px;
}

a {
    color: #1966AE;
    text-decoration: underline;
}

a:hover {
    color: #CC0000;
    text-decoration: underline;
}

img { border: none }

p.centered {
    text-align: center;
}

img.floating {
    float: right ;
    padding: 10px 10px 10px 10px ;
}

img.floating-left {
    float: left ;
    padding: 0px 0px 0px 0px ;
}

img.floating-right {
    float: right ;
    padding: 0px 0px 0px 0px ;
}

img.banner {
    width: 591px;
}

/* MAIN TABLE */

table.main {
    width: 830px ;
    background-color: #FFFFFF ; 
    /*    border: thin dotted rgb(250,0,255) ; */
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;

    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    border: none;
}

td.main {
    /* border: thin dotted rgb(250,0,255) ; */
    padding-top:3px;
    padding-bottom:3px;
    padding-left:3px;
    padding-right:3px;
    vertical-align: top;
    border: none;
}

/* TOP MENU */

div.topmenu {
/*    background-color: #6699C9; */
    background-color: #999999; 
    color: #003B73;
    width: 100%;
}

table.topmenu {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    border-collapse: collapse;
/*    width: 700px; */
    width: 100%;
    border: none;
}

td.topmenu {
    padding: 2px 2px 2px 2px;
    border: none;
}

a.topmenu {
    text-align: center;
    width: 110px;
    height: 18px;
    font-weight: bold;
    font-size: 13px;
    color: white;
    display: table-cell;
    text-decoration: none;
}

a.topmenu:hover {
     background-color: #E5EEF6;
     color: #CC0000;
     text-decoration: underline;
}

a.topmenu_active {
     background-color: #E5EEF6;
     color: #CC0000;
}

/* NEWS  */

table.news {
    width: 200px;
    vertical-align: top;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
}

th.news {
    font-weight: bold;
    vertical-align: middle;
    padding:  0 0 0 10px  ;
    margin:  0 0 0 0px  ;
    height: 23px;
    color: #000000;
  /*  background-color: #E5EEF6; */
    background-color: #CCCCCC;
    border-left: none;
    border-right: none;
}


td.news {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #99BBDB;
    padding: 7px 10px 7px 10px;
}

a.news {
    color:#003B73;
    text-decoration: none;
}

a.news:hover {
    color: #CC0000;
    text-decoration: underline;
}

/* MENU */

table.menu {
    width: 200px;
    vertical-align: top;
    border-collapse: collapse; 
    margin-top: 1px;
    border-left: none;
    border-right: none;
}

td.menu {
    border-left: none;
    border-right: none;
    border-top: 1px solid #99BBDB;
    border-bottom: 1px solid #99BBDB;
    padding: 0px 0px 0px 0px;
}

a.menu {
    color:#003B73;
    text-decoration: none;
    height: 30px;
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 10px;
}

a.level0 {
    padding-left: 10px;
    font-weight: bold;
}

a.level1 {
    padding-left: 20px;
}

a.level2 {
    padding-left: 40px;
    font-size: 80%;
}

a.menu_active {
    background-color: #E5EEF6;
    color: #CC0000;
}

a.menu:hover {
    color: #CC0000;
    text-decoration: underline;
    background-color: #E5EEF6;
}


table {
    border-collapse:collapse; 
    border: none;
}

th,td {
    padding: 5px 5px 5px 5px;
    border: 1px solid black; 
}

td.break {
    color: #666666;
}

td.empty {
    border: none;
}

