<tr>
    <td class="main" id="menu_cell" rowspan=2>
	<div class="menu">
	    <table class="menu">
		<tr>
		    <td class="menu">
			<a href="menu.html#gmi2.1" class="menu menu_active level1">Overview</a>
		    </td>
		</tr>
		<tr>
		    <td class="menu">
			<a href="menu.html#gmi2.1" class="menu level1">Middleware</a>
		    </td>
		</tr>
		<tr>
		    <td class="menu">
			<a href="menu.html#gmi2.1" class="menu level2">JavaGAT</a>
		    </td>
		</tr>
		<tr>
		    <td class="menu">
			<a href="menu.html#gmi2.1" class="menu level2">Zorilla</a>
		    </td>
		</tr>
	    </table>
	</div>
    </td>
</tr>

<tr>

    <!-- CONTENT -->

    <td class="main">
	<img src="images/projects-banner.png" alt="Banner">
	<?php include ("content/projects.html"); ?> 
    </td>
</tr>
